.idea
**/.DS_Store
/auth/bin/
/chat_server/bin/

.env
auth/.env
chat_server/.env

# Coverage files
/coverage.out
/auth/coverage.out
/chat_server/coverage.out

# Log files
/auth/logs/
/chat_server/logs/
